@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body, html{
   height: 100%;
   font-family: 'Itim', cursive;
   overflow: visible;
}



.anime {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: 0.3s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);

}


h1 {
    color: #fff;
    letter-spacing: -0.09em;
    font-weight: 200;
    font-size: 64px;

}



@media(max-width: 766px) {
    #logotipo {
        margin-left: -50px;
    }
}

/*FORMATAÇÃO CONTEÚDO PRINCIPAL*/

#nome::after, #descricao::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar .7s infinite;
}

@keyframes piscar {
    
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

    
}


#perfil {
    position: relative;
    text-align: center;
    
}

#principal {
    background:url(imagens/fundo.jpg);
    height: 100%;

}

#img-perfil {
    border-radius: 150px;
}

#principal i {
    color: white;
    font-size: 22px;
    margin: 0 10px;
}

#principal i:hover {
    color: #37c06f;
}



